<div class="container profile-user-edit">

    <div tw-menu active-menu="activeMenu"></div>

    <div ng-if="mode === 'edition'">
        <a class="link" ui-sref="edit-password({firstName: user.firstName})">Change password</a>
    </div>

    <div class="page">
        <div class="row">

            <div class="col-md-8">

                <div ng-switch on="mode">
                    <h1 ng-switch-when="creation">Create user</h1>
                    <h1 ng-switch-when="edition">Edit user "{{ getFullName() }}"</h1>
                </div>

                <form name="userForm" novalidate>
                    <div class="row" ng-if="mode === 'creation'">
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">Login</label>
                                <input name="login" required ng-minlength="4" class="form-control" type="text" ng-model="user.login">
                                <!-- using attribute directives -->

                                <div tw-error-messages form="userForm" attribute-name="login">
                                    <!-- override default message -->
                                    <div class="error" ng-message="minlength">Too short login: 4 characters mini.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label">Password</label>
                                        <input name="password" required minlength="4" class="form-control" type="password" ng-model="user.password">
                                    </div>

                                    <div tw-error-messages form="userForm" attribute-name="password">
                                        <!-- override default message -->
                                        <div class="error" ng-message="minlength">Too short password: 4 characters mini.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label">Password (confirm)</label>
                                        <input name="passwordConfirmation" class="form-control" type="password" ng-model="passwordConfirmation" match="password">
                                    </div>
                                    <div tw-error-messages form="passwordForm" attribute-name="passwordConfirmation">
                                        <!-- override default message -->
                                        <div class="error" ng-message="match">Password does not match.</div>
                                    </div>
                                </div>
                            </div>
                            <div tw-robustness-bar password="user.password">
                                Robustness:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">First name</label>
                                <input name="firstName" required ng-minlength="2" class="form-control" type="text" ng-model="user.firstName">
                                <!-- using attribute directives -->

                                <div tw-error-messages form="userForm" attribute-name="firstName">
                                    <!-- override default message -->
                                    <div class="error" ng-message="minlength">Too short first name: 2 characters mini.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">Last name</label>
                                <input name="lastName" required minlength="3" class="form-control" type="text" ng-model="user.lastName">

                                <div tw-error-messages form="userForm" attribute-name="lastName">
                                    <!-- override default message -->
                                    <div class="error" ng-message="minlength">Too short: 3 characters mini.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">Email</label>
                                <input name="email" required class="form-control" type="email" ng-model="user.email">
                                <div tw-error-messages form="userForm" attribute-name="email"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Gender</label>
                                <select name="gender" class="form-control" ng-model="user.gender">
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Birthdate</label>
                                <input name="birthdate" class="form-control" type="text" ng-model="user.birthdate" bs-datepicker data-date-format="yyyy-MM-dd" data-max-date="today" data-autoclose="1" data-date-type="iso">
                                <div tw-error-messages form="userForm" attribute-name="birthdate"></div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group employed-form-group">
                                <label class="control-label">Employed</label>
                                <input class="form-control" type="checkbox" ng-model="user.employed" ng-change="employedUpdated()">
                            </div>
                        </div>
                        <div class="col-md-2" ng-show="user.employed">
                            <!--     <div class="form-group">
                                <label class="control-label">Salary</label>
                                <input name="salary" class="form-control" type="number" ng-model="user.salary" tw-salary-validator age="getAgeInYears()">
                                <div tw-error-messages form="userForm" attribute-name="salary"></div>
                            </div>-->

                            <div class="form-group">
                                <label class="control-label">Salary</label>
                                <input name="salary" class="form-control" type="number" ng-model="user.salary" ng-min="getMinSalary()">
                                <div tw-error-messages form="userForm" attribute-name="salary">
                                    <div class="error" ng-message="min">Invalid min salary.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center actions-bar">
                        <div class="col-md-4">
                            <a ng-click="submit(userForm)" class="btn btn-lg btn-ok large outline">
                                <i class="glyphicon glyphicon-check"></i> Save
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a ng-click="reset();userForm.$setPristine();userForm.$setUntouched();" class="btn btn-lg btn-cancel large outline">
                                <i class="glyphicon glyphicon-remove"></i> Reset
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a ng-click="remove()" class="btn btn-lg btn-cancel large outline">
                                <i class="glyphicon glyphicon-trash"></i> Remove
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <h1>Profile preview</h1>

                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td ng-class="'gender-' + user.gender">{{ getFullName() }}</td>
                            <!-- or: ng-class="{ 'gender-male': user.gender === 'male',  'gender-female': user.gender === 'female' }">-->
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Birthdate</th>
                            <td>{{ user.birthdate | date: 'yyyy-MM-dd' }}</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{ getAgeInYears() }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>
                                {{user.gender, select, male {He is a man.} female {She is a women.} other {Unknown gender.} }}
                            </td>
                        </tr>
                        <tr>
                            <th>Salary</th>
                            <td>{{ user.salary | currency }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>


</div>