 form {
     input[type="checkbox"] {
         width: auto;
     }
 }
 
.form-group.required .control-label:after {
    content: "*";
    color: red;
    margin-left: 3px;
}

form .error {
    color: red;
}
 .actions-bar {
     margin: 30px 5px;
 }
 
 