<nav class="tw-menu navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="view-users-item" ng-class="{ active: vm.activeMenu === 'view-users' }"><a ui-sref="view-users">Users</a>
                    </li>
                    <li class="edit-user-item" ng-if="vm.activeMenu === 'edit-user'" ng-class="{ active: vm.activeMenu === 'edit-user' }"><a ui-sref="edit-user">Edit user</a>
                    </li>
                    <li tw-has-role="admin" class="create-user-item" ng-if="vm.activeMenu !== 'edit-user'" ng-class="{ active: vm.activeMenu === 'create-user' }"><a ui-sref="create-user">Create user</a>
                    </li>
                    <li ng-if="vm.isUserAuthenticated()" ng-class="{ active: vm.activeMenu === 'edit-location' }"><a ui-sref="edit-location({userId: vm.user.id})">Location</a>
                    </li>
                    <li ng-if="!vm.isUserAuthenticated()" ng-class="{ active: vm.activeMenu === 'login' }"><a ui-sref="login">Login</a>
                    </li>
                    <li ng-if="vm.isUserAuthenticated()"><a ui-sref="logout">Logout</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="link clear-cache" ng-click="vm.clearCache()">Clear cache</a></li>
                    <li ng-if="vm.isUserAuthenticated()">
                        <div class="profile">
                            <div class="username">
                                {{ vm.user.firstName }} {{ vm.user.lastName }}
                            </div>
                            <div class="role">
                                {{ vm.user.role }}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
