<nav class="tw-menu navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="route in vm.routes | filter:vm.accessibleRoute" ng-class="{ active: vm.activeMenu === route.state }" class="{{ route.state }}-item">
                        <a ui-sref="{{ route.state }}({{ route.params }})">{{ route.label }}{{ route.params }}</a>
                    </li>
                    <li ng-if="!vm.isUserAuthenticated()" ng-class="{ active: vm.activeMenu === 'login' }"><a ui-sref="login">Login</a>
                    </li>
                    <li ng-if="vm.isUserAuthenticated()"><a ui-sref="logout">Logout</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="link clear-cache" ng-click="vm.clearCache()">Clear cache</a></li>
                    <li ng-if="vm.isUserAuthenticated()">
                        <div class="profile">
                            <div class="username">
                                {{ vm.user.firstName }} {{ vm.user.lastName }}
                            </div>
                            <div class="role">
                                {{ vm.user.role }}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
